body {
  font-family: "Roboto", sans-serif;
  background-color: #2e4c6d;
}
.form-group {
  margin-top: 10px;
  color: white;
}
.submit-button {
  margin-top: 10px;
}
.search-label {
  margin-bottom: 10px;
  font-size: 18px;
}
h1,
h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}
.current-location h3 {
  padding: 0px;
  margin: 0px auto;
  position: fixed;
  top: 0;
  right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}
.card .current-temperature {
  background-color: #2e4c6d;
}
#main-description {
  color: white;
}
.current-temperature button {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
.current-temperature {
  color: white;
}
.current-temperature h1 {
  font-size: 100px;
  margin-left: 35px;
}
.current-temperature h6 {
  text-transform: capitalize;
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
.card-footer {
  text-align: center;
}
.weather-details,
.hourly-temperatures {
  font-weight: bold;
}
.future-details {
  margin-top: 20px;
}
.card-text {
  text-align: center;
}
.future-temperature {
  text-align: center;
}
#celcius-button {
  margin-top: 5px;
}
footer {
  font-size: small;
  color: white;
}
